.App {
  --between-space: 4vh;
  --small-div-backround: whitesmoke;
  /* Gute Farbe Gelb:  #e7bc13 */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  color: black;
}

.Content {
  position: absolute;
  width: 100vw;
  min-height: 88vh;
  top: 12vh;

  display: flex;
  justify-content: center;

  background: rgb(129, 211, 255);
  border-radius: 6vh 6vh 0 0;
}

.InnerContent {
  position: absolute;
  display: flex;

  width: calc(100vw - 2 * var(--between-space));
  height: inherit;

  top: var(--between-space);
  bottom: var(--between-space);
}

.LocationDiv {
  position: absolute;
  width: inherit;
  height: calc(46vh - var(--between-space) / 2);

  background-color: var(--small-div-backround);
  border-radius: 4vh;
}

.LocationInnerDiv{
  width: inherit;
  height: calc(35vh + var(--between-space));
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.TimelineDiv {
  position: absolute;
  width: 65vw;
  height: calc(36vh - var(--between-space));
  left: 0;
  bottom: 0;
  background-color: var(--small-div-backround);
  border-radius: 4vh;
}

.DescDiv {
  position: absolute;
  width: calc(100vw - 2 * var(--between-space) - 65vw - var(--between-space));
  height: calc(36vh - var(--between-space));
  right: 0;
  bottom: 0;

  background-color: var(--small-div-backround);
  border-radius: 4vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}