.App {
  --between-space: 4vh;
  --small-div-backround: whitesmoke;
  /* Gute Farbe Gelb:  #e7bc13 */
  min-height: 100vh;
  font-size: 1.4rem;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-weight: 400;
  font-size: 2.3em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.Header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 12vh;
  padding-left: 4vh;
}

.Content {
  position: absolute;
  width: 100vw;
  min-height: 88vh;
  top: 12vh;

  display: flex;
  justify-content: center;

  background: lightblue;
  border-radius: 6vh 6vh 0 0;
}

.InnerContent {
  position: absolute;
  display: flex;

  width: calc(100vw - 2 * var(--between-space));
  height: inherit;

  top: var(--between-space);
  bottom: var(--between-space);
}

.LocationDiv {
  position: absolute;
  width: inherit;
  height: calc(46vh - var(--between-space) / 2);

  background-color: var(--small-div-backround);
  border-radius: 4vh;
}

.LocationInnerDiv{
  width: inherit;
  height: calc(35vh + var(--between-space));
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
}

.TimelineDiv {
  position: absolute;
  width: 65vw;
  height: calc(36vh - var(--between-space));
  left: 0;
  bottom: 0;
  background-color: var(--small-div-backround);
  border-radius: 4vh;
}

.DescDiv {
  position: absolute;
  width: calc(100vw - 2 * var(--between-space) - 65vw - var(--between-space));
  height: calc(36vh - var(--between-space));
  right: 0;
  bottom: 0;

  background-color: var(--small-div-backround);
  border-radius: 4vh;
}

.App-link {
  color: lightblue;
}